* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: rebeccapurple;
    max-width: 100vw;
    overflow-x: hidden;
}

/* ------  HEADER  -------- */
header {
    background-color: rebeccapurple;
    position: relative;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 99;
    backdrop-filter: blur(20px);
}
.logo {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: left;
}
.logo a {
    text-decoration: none;
    color: black;
}
.logo a img {
    height: 80px;
    background-color: transparent;
    border-radius: 62px;
    margin-right: 10px;
}
.logo a pre {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;  
}
.nav {
    width: 50vw;
}
.nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav ul li {
    list-style: none;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.nav ul li a {
    text-decoration: none;
    color: black;
}
.nav ul li a:hover {
    color: #f44336;
}
.nav ul li a::after {
    content: '';
    width: 0%;
    height: 4px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav ul li a:hover::after {
    width: 100%;
}
.fa-solid {
    opacity: 0;
    display: none;
}
:root {
    --effect: hover 1s linear infinite;
}
.sporion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21,21,36);
    height: 10vh;
}
.sporion p {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}
.sporion p:nth-child(1) {
    animation: var(--effect);
}

.sporion p:nth-child(2) {
    animation: var(--effect) 0.083s;
}

.sporion p:nth-child(3) {
    animation: var(--effect) 0.166s;
}

.sporion p:nth-child(4) {
    animation: var(--effect) 0.249s;
}

.sporion p:nth-child(5) {
    animation: var(--effect) 0.332s;
}

.sporion p:nth-child(6) {
    animation: var(--effect) 0.415s;
}

.sporion p:nth-child(7) {
    animation: var(--effect) 0.498s;
}

.sporion p:nth-child(8) {
    animation: var(--effect) 0.581s;
}

.sporion p:nth-child(9) {
    animation: var(--effect) 0.664s;
}

.sporion p:nth-child(10) {
    animation: var(--effect) 0.747s;
}

.sporion p:nth-child(11) {
    animation: var(--effect) 0.83s;
}

.sporion p:nth-child(12) {
    animation: var(--effect) 0.913s;
}
@keyframes hover {
    0% {
        transform: scale(0.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: pink;
        -webkit-text-stroke: 3px #00D8FF;
        filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
    }

    50% {
        transform: scale(0.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }
}
.slogan {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slo-div {
    border: 1px solid grey;
    border-radius: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;
    width: 80vw;
    box-shadow: 6px 6px 6px grey;
}
.slo-div h4 {
    font-family: poppins;
    color: #000;
}

/* ------  MAIN ------- */
.animation {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 35vh;
    z-index: -5;
}
.anime {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 98vw; 
    height: 65vh; 
    margin-top: 20px;
}
svg {
    height: 100%;
    width: 100%;
}
.photo {
    width: 100vw;
}
.photo-row {
    height: 50;
    display: flex;
    margin: 40px 0;
}
.photo-img {
    height: 50vh;
    width: 49vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-desc {
    height: 50vh;
    width: 49vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-div-img{
    height: 50vh;
    width: 49vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-div-desc {
    height: 50vh;
    width: 49vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    height: 350px;
    width: 500px;
    border: 6px solid #121212;
    border-radius: 6px;
}
#img {
    height: 350px;
    width: auto;
    border: 6px solid #121212;
    border-radius: 6px;
}
.photo-desc p, .photo-div-desc p {
    margin-top: 2vh;
    font-family: "poppins", sans-serif;
    font-size: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 10vw;
    margin-left: 10vw;
}

/* ------ FOOTER --------   */
.footer-up {
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-up ul li {
    list-style: none;
}
.footer-up ul li a {
    text-decoration: none;
    color: #000;
}
.footer-up h3 {
    font-family: sans-serif;
}
.footer-div-img {
    display: flex;
    flex-direction: column;
}
.footer-down {
    margin: 10px 0;
    display: inline-block;
    padding: 3px 0;
    text-align: center;
    width: 100%;
}
.footer-down a {
    text-decoration: none;
    color: #121212;
}

/* ------  CONTACT -------  */
.contact {
    margin-top: 40px;
}
.contact h2 {
    margin-top: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 40px;
}
.full-address {
    display: flex;
    width: 35vw;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}
.address-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.address-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----- ABOUT --------  */
.about {
    margin-top: 40px;
    height: 50vh;
}
.about h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.about p {
    margin: 30px 40px;
    text-align: justify;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ------  RESPONSIVE WEB -------   */

@media only screen and (max-device-width:1040px) and (min-device-width:600px) {
    .head {
        width: 100vw;
        display: inline-block;
    }
    .nav {
        width: 100%;
        overflow: hidden;
        height: 210px;
        transition: height 0.5s;
    }
    .nav ul {
        text-align: center;
        display: block;
        transition: all 0.7s ease-out;
    }
    .nav ul li {
        width: 90vw;
        border: 1px solid black;
        padding: 10px 0;
        background-color: #f44336;
    }   
    .nav ul li a {
        color: antiquewhite;
    }
    .fa-solid {
        opacity: 100;
        position: absolute;
        top: 43px;
        right: 48px;
        display: block;
    }
    .v-class {
        height: 0px !important;
    }
    .photo-row {
        margin: 60px 0;
    }
    .footer-up {
        width: 95vw;
        display: inline-block;
        text-align: center;
        align-content: center;
    }
    .f1 {
        margin: 15px 0;
    }
    .footer-div-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-device-width:600px) and (min-device-width: 400px) {
    .head {
        width: 100vw;
        display: inline-block;
    }
    .nav {
        width: 100%;
        overflow: hidden;
        height: 210px;
        transition: height 0.5s;
    }
    .nav ul {
        text-align: center;
        display: block;
        transition: all 0.7s ease-out;
    }
    .nav ul li {
        width: 90vw;
        border: 1px solid black;
        padding: 10px 0;
        background-color: #f44336;
    }   
    .nav ul li a {
        color: antiquewhite;
    }
    .fa-solid {
        opacity: 100;
        position: absolute;
        top: 43px;
        right: 48px;
        display: block;
    }
    .v-class {
        height: 0px !important;
    }
    .sporion {
        height: 7vh;
    }
    .photo-row {
        margin: 20px 0;
    }
    .photo-desc p {
        font-size: 24px;
    }
    .photo-div-desc p {
        font-size: 24px;
    }
    .footer-up {
        width: 95vw;
        display: inline-block;
        text-align: center;
        align-content: center;
    }
    .f1 {
        margin: 15px 0;
    }
    .footer-div-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .animation {
        top: 24vh;
    }
    .footer-down h3 {
        font-size: 14px;
    }
    .footer-down h4 {
        font-size: 16px;
    }
    .footer-down p {
        font-size: 15px;
    }
    .contact-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .address-one h4 {
        text-align: center;
        width: 90%;
    }
    .address-two h4 {
        text-align: center;
        width: 90%;
    }
    .address-two h3 {
        text-align: center;
        width: 90%;
    }
    .about h2 {
        font-size: 50px;
    }
    .about p {
        font-size: 30px;
    }
}

@media only screen and (max-device-width:400px) and (min-device-width: 360px) and (min-device-height:625px) {
    .head {
        width: 100vw;
        display: inline-block;
    }
    .nav {
        width: 100%;
        overflow: hidden;
        height: 210px;
        transition: height 0.5s;
    }
    .nav ul {
        text-align: center;
        display: block;
        transition: all 0.7s ease-out;
    }
    .nav ul li {
        width: 90vw;
        border: 1px solid black;
        padding: 10px 0;
        background-color: #f44336;
    }   
    .nav ul li a {
        color: antiquewhite;
    }
    .fa-solid {
        opacity: 100;
        position: absolute;
        top: 43px;
        right: 48px;
        display: block;
    }
    .v-class {
        height: 0px !important;
    }
    .sporion {
        height: 5vh;
    }
    .photo-row {
        height: 30vh;
        margin: 5px 0;
        padding-top: 20px;
    }
    .photo-img {
        height: 27vh;
        width: 44vw;
    }
    .photo-desc {
        height: 22vh;
    }
    .photo-div-img {
        height: 27vh;
        width: 44vw;
    }
    .photo-div-desc {
        height: 22vh;
    }
    .photo-desc p {
        font-size: 24px;
    }
    .photo-div-desc p {
        font-size: 24px;
    }
    .footer-up {
        width: 95vw;
        display: inline-block;
        text-align: center;
        align-content: center;
    }
    .f1 {
        margin: 15px 0;
    }
    .footer-div-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .animation {
        top: 16vh;
        height: 50vh;
    }
    .footer-down h3 {
        font-size: 10px;
    }
    .footer-down h4 {
        font-size: 14px;
    }
    .footer-down p {
        font-size: 13px;
    }
    .contact-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .address-one h4 {
        text-align: center;
        width: 90%;
    }
    .address-two h4 {
        text-align: center;
        width: 90%;
    }
    .address-two h3 {
        text-align: center;
        width: 90%;
    }
    .about h2 {
        font-size: 50px;
    }
    .about p {
        font-size: 30px;
    }
}

@media only screen and (max-device-width:360px) {
    .head {
        width: 100vw;
        display: inline-block;
    }
    .nav {
        width: 100%;
        overflow: hidden;
        height: 210px;
        transition: height 0.5s;
    }
    .nav ul {
        text-align: center;
        display: block;
        transition: all 0.7s ease-out;
    }
    .nav ul li {
        width: 90vw;
        border: 1px solid black;
        padding: 10px 0;
        background-color: #f44336;
    }   
    .nav ul li a {
        color: antiquewhite;
    }
    .fa-solid {
        opacity: 100;
        position: absolute;
        top: 43px;
        right: 48px;
        display: block;
    }
    .v-class {
        height: 0px !important;
    }
    .sporion {
        height: 4vh;
    }
    .photo-row {
        height: 24vh;
        margin: 5px 0;
        padding-top: 20px;
    }
    .photo-img {
        height: 27vh;
        width: 44vw;
    }
    .photo-desc {
        height: 22vh;
    }
    .photo-div-img {
        height: 27vh;
        width: 44vw;
    }
    .photo-div-desc {
        height: 22vh;
    }
    .photo-desc p {
        font-size: 24px;
    }
    .photo-div-desc p {
        font-size: 24px;
    }
    .footer-up {
        width: 95vw;
        display: inline-block;
        text-align: center;
        align-content: center;
    }
    .f1 {
        margin: 15px 0;
    }
    .footer-div-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slogan {
        height: 5vh;
    }
    .slo-div {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .animation {
        top: 16vh;
        height: 28vh;
    }
    .anime {
        height: 26vh;
    }
    .footer-down h3 {
        font-size: 10px;
    }
    .footer-down h4 {
        font-size: 13px;
    }
    .footer-down p {
        font-size: 12px;
    }
    .contact-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .address-one h4 {
        text-align: center;
        width: 90%;
    }
    .address-two h4 {
        text-align: center;
        width: 90%;
    }
    .address-two h3 {
        text-align: center;
        width: 90%;
    }
    .about h2 {
        font-size: 50px;
    }
    .about p {
        font-size: 30px;
    }
}

/* ----- PRE-REQUISITE ------  */
.hr {
    height: 4px;
    background-color: #f44336;
    margin-top: 10px;
}
.hr-one{
    background-color: rgb(194, 166, 10);
    height: 4px;
    width: 30vw;
    margin-bottom: 3vh;
}
.hr-two{
    background-color: rgb(194, 166, 10);
    height: 4px;
    width: 20vw;
}